    </div>
  <footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">Copyright (C) 2012 SYAKU All Rights Reserved.</p>
    </div>
  </footer>
  </body>
</html>
