    </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Archives</h4>
          <ul class="list-unstyled">
            <% calendar.forEach(function(month){ %>
              <li><a href="/<%= month %>/"><%= moment(month).format('YYYY年MM月') %></a></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Categories</h4>
          <ul class="list-unstyled">
            <% categories.forEach(function(category){ %>
              <li><a href="/archive/category/<%= category %>/"><%= settings.categoryName[category] %></a></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h4>About me.</h4>
            </div>
            <div class="col-md-4">
              <img style="width:100px;height:100px;" src="//www.gravatar.com/avatar/bf73f66e691dad0add1458e4352e9887?s=100" alt="avatar" itemprop="image" id="avatar">
            </div>
            <div class="col-md-8">
              <p><a href="http://plus.google.com/114867807906638049811?rel=author" itemprop="url"><span itemprop="name" rel="author">Takayuki TAKEMURA</span></a></p>
              <p>東京でプログラマーやってます。イラスト程度には痩せたい。</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>About this site.</h4>
              <p>このブログの記載内容は私個人の主張・嗜好・思い込みであり、私が所属する企業・団体を含むいかなる組織の公式見解でもありません。</p>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="copyright" class="pull-right">Copyright (C) 2012 Takayuki TAKEMURA All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35711724-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
